html body {
  height: 100%;
}
body {
  margin: 0px;
  background-color: #fbf7f5;
}
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.top {
  display: flex;
  height: 50px;
  align-self: stretch;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #555;
}
.topMid {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 900px;
  align-items: flex-end;
  justify-content: space-between;
}
.cardList {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #555;
}
.bottom {
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  background-color: blue;
}

.mid {
  margin-top: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #555;
  text-align: center;
}

.cardsBox {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsMenu {
  display: flex;
  flex-direction: row;
}

.cardsMenu {
  margin-top: 40px;
}

.cardsMenuPick {
  margin-left: -1px;
  border: solid 1px #aaa;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.cardsMenuPick:hover {
  background-color: #777;
  color: #fff;
}

.showCards {
  border: solid 1px #aaa;
  min-width: 300px;
  margin-top: -1px;
  display: flex;
  flex-direction: row;
}

.cardImg {
  margin-bottom: -251px;
  border-radius: 10px;
}
.cardImg:hover {
  margin-bottom: 0px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  align-self: stretch;
  /* background-color: red; */
  position: absolute;
}
.checkout {
  width: 200px;
  align-self: flex-end;
}

.summary {
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #555;
}

.main {
  display: flex;
  padding-top: 80px;
  margin-bottom: 100px;
}

/* tastosis */
.gslRow {
  display: flex;
  flex-direction: column;
}
.yearRow {
  display: flex;
  flex-direction: row;
  width: 440px;
  margin-bottom: 16px;
}
.seasonCol {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}
.seasonTitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 4px;
  padding-left: 4px;
  color: #aaa;
}
.roGvW {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  height: 18px;
  width: 95px;
  border-bottom: 0.5px solid #555;
}
.roSt12017 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  height: 18px;
  width: 57px;
  border-bottom: 0.5px solid #555;
}
.ro32 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  padding-top: 0.5px;
  height: 37px;
  width: 76px;
  border-bottom: 0.5px solid #555;
}
.ro16 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  height: 18px;
  width: 76px;
  border-bottom: 0.5px solid #555;
}
.ro16 .setLinkDark {
  border-bottom: 0.5px solid #fbf7f5;
}
.ro8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  height: 18px;
  width: 38px;
  border-bottom: 0.5px solid #555;
}
.ro8 .setLinkDark {
  border-bottom: 0.5px solid #fbf7f5;
}
.ro4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  height: 18px;
  width: 38px;
  border-bottom: 0.5px solid #555;
}
.ro4 .setLinkDark {
  border-bottom: 0.5px solid #fbf7f5;
}
.ro2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  padding-left: 0.5px;
  padding-right: 0.5px;
  height: 19px;
  width: 19px;
  margin-top: -1px;
  border-top: 0.5px solid #555;
}
.ro2 .setLinkDark {
  border-bottom: 0.5px solid #fbf7f5;
  border-top: 0.5px solid #fbf7f5;
  margin-top: -1px;
}
.setLink {
  background-color: #fbf7f5;
  height: 18px;
  width: 18px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  color: #555;
  text-decoration: none;
  margin-bottom: 1px;
  margin-left: 0.5px;
  margin-right: 0.5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.setLinkSeen {
  background-color: #adbce6;
  height: 18px;
  width: 18px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  color: #555;
  text-decoration: none;
  margin-bottom: 1px;
  margin-left: 0.5px;
  margin-right: 0.5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.setLinkSeenDark {
  background-color: #adbce6;
  height: 18px;
  width: 18px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  color: #555;
  text-decoration: none;
  margin-bottom: 1px;
  margin-left: 0.5px;
  margin-right: 0.5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.setLinkDark {
  background-color: #212024;
  height: 18px;
  width: 18px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  color: #aaa;
  text-decoration: none;
  margin-bottom: -4px;
  margin-left: 0.5px;
  margin-right: 0.5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.setLink:hover {
  background-color: #777;
  color: #fbf7f5;
}
.setLinkDark:hover {
  background-color: #aaa;
  color: #212024;
}
.emptyRound {
  background-color: #fbf7f5;
  border-bottom: 1px solid #ddd;
}
.emptyRoundDark {
  background-color: #212024;
  border-bottom: 1px solid #aaa;
}
.titleSeason {
  height: 18px;
  width: 18px;
}
.title32 {
  height: 24px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 8px;
  color: #aaa;
}
.title16 {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 6px;
  color: #aaa;
}
.title8 {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: -5px;
  color: #aaa;
}
.title4 {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: -5px;
  color: #aaa;
}
.titleF {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: -5px;
  color: #aaa;
}
.yearTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #aaa;
  margin-right: 8px;
}
.eventTitle {
  margin-top: 2.5px;
  margin-bottom: 2px;
}
.vidDescription {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.vidDescriptionDark {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #aaa;
}
.vidBox {
  margin-top: 20px;
}

/*embedded vid */
.ytBoxMatches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 10px;
}
.ytBoxMatchesInner {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  padding: 0.5px;
}

/* button */
button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.hidden {
  display: none;
}
